body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    text-align: center;
}

.box, .menu-box {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.back-btn {
    width: 120px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #e74c3c;
    color: white;
}

pre {
    white-space: pre-wrap;
    background: #eef;
    padding: 10px;
}
